[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
advent-of-code-data = "*"
numpy = "*"
parse = "*"
more-itertools = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.10"

[pipenv]
allow_prereleases = true

[scripts]
aoc = "python src/main.py"
test = "python src/test.py"
format = "black ."
